{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block content %}


<main>

    <!---Contains Main Content-->
    <section class="container-fluid my-4 text-left" id="services">
        <h3 class="display-4 mx-auto col-sm-12">List Your Tool</h3>
    </section>
    <!--breadcrumb-start-->

    <nav aria-label="breadcrumb">

        <ol class="container-fluid ml-4 breadcrumb bg-white">

            <li class="breadcrumb-item">
                <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="create.html">Sell</a>
            </li>
            <li class="breadcrumb-item active">List Your Tool</a>
            </li>
        </ol>

    </nav>

    <!-- Breadcrumb End -->

    <!-- Create a new Item -->

    <section class="container-fluid  text-left col-md-5" id="services">
        <div class="row pb-5 pt-10" style="background: lightgrey; width: 100%; padding: 0;  margin:0px;">

            {{wtf.quick_form(form)}}

        </div>
        <!--Row Class Div-->

        </div>

    </section>
</main>
</div>
{% endblock %}